<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hotel website</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div id="landing">
		<h1><u>SIDE-VIEW HOTEL</u></h1>
		<h2>A comfortable hotel that offers excellent services at pocket friendly rates</h2>
		<a href="./menu.html">View Menu</a>
		<a href="#about">Read More</a>
		<a href="data/">Our artists</a>
	</div>

	<div id="about">
		<h2>About Us</h2>
		<p><strong>Side-View Hotel & Spa</strong> is a family-friendly hotel that offers a wide range of accommodation types, from rooms to suites. All this in the peaceful surroundings of our beautiful gardens, will make your time at Khwisero an unforgettable holiday. <br> Esteemed guests are welcome to relax and unwind in a quiet and elegant setting in the popular resort of Khwisero and enjoy a genuine experience of leisure, pleasure, gastronomy and wellness within the premises of the resort</p>
		<p>The following are some of the many features of the hotel:</p>
		<div class="property">
		<ol>
			<li>
				<h4>Property Amenities</h4>
				<ul>
					<li>Free parking lot</li>
					<li>Bar & Lounge</li>
					<li>Conference facilities</li>
					<li>Free High Speed Connectivity (Wi-Fi)</li>
					<li>Meeting rooms</li>
				</ul>
			</li>
			<li>
				<h4>Room features</h4>
				<ul>
					<li>Flatscreen TV</li>
					<li>Room service</li>
					<li>Safe</li>
					<li>Housekeeping</li>
					<li>King-size bed</li>
				</ul>
			</li>
			<li>
				<h4>Room Types:</h4>
				<ul>
					<li>Non-smoking rooms</li>
					<li>Smoking rooms are available</li>
				</ul>
			</li>
		</ol>
	</div>
	</div>

	<div class="ratings">
		<h3>What people say about us:</h3>
		<div class="person">
			<img src="./images/person1.png" alt="Customer"></img>
			<p>Boogie Mukoya</p>
			<p>This is a budget hotel you can book direct with for very good prices. I took a budget room so can only comment on that, it was certainly a basic room but was spotless clean. The staff were all very good. The location on the side of town is good for access to town. Two negatives. The road outside can give noise and my shower was not great but still rine to actually shower in. For what you pay and if your not too fussy like myself it is superb value for Nairobi. Wifi was fine.</p>
			<p><em><b>Date of stay: 29<sup>th</sup> November 2021</b></em></p>
		</div>

		<div class="person">
			<img src="./images/person3.jpeg" alt="Customer"></img>
			<p>M.E Okosh</p>
			<p>The hotel was very nice.It was clean.You can go by walk to the center and enjoy the city (but be careful crossing the road). The staff was nice but they were very slow.If you are in a hurry, don't eat at the hotel restaurante, they spend lot of time</p>
			<p><em><b>Date of stay: 18<sup>th</sup> April 2019</b></em></p>
		</div>

		<div class="person">
			<img src="./images/person4.jpeg" alt="Customer"></img>
			<p>Mkuu Kiongozi</p>
			<p>The staff is really helpful and friendly ,they did very early check in to me that I could rest after my journey.The hotel has security and it’s really safe place to be .Great price in very good location .Breakfast is cheap .Love staying here .Thank You <mark>Side-View team</mark></p>
			<p><em><b>Date of stay: 2<sup>nd</sup> May 2017</b></em></p>
		</div>

	</div>

	<div class="feedback">
		<h3>Contact Us</h3>
		<h4>Your feedback and response will be highly appreciated</h4>
		<form>
			<label for="first">First Name:</label><br>
			<input type="text" name="first" id="first"><br>
			<label for="last">Last Name:</label><br>
			<input type="text" name="last" id="last"><br>
			<label for="email">Email:</label><br>
			<input type="email" name="email" id="email"><br>
			<label for="message">Message:</label><br>
			<textarea name="message" id="message"></textarea><br>
			<button type="submit">Submit</button>
		</form>
	</div>

	<a href="#landing" style="color: black">Back to top</a>

	<footer>
		<p>&copy; 2022 | ALL RIGHTS RESERVED</p>
	</footer>
</body>
</html>
