<!DOCTYPE html>
<html lang="en">
<head>
	<title>Side-view Hotel menu</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div id="landing">
		<h1><u>SIDE-VIEW HOTEL</u></h1>
		<h2>A comfortable hotel that offers excellent services at pocket friendly rates</h2>
		<a href="./index.html">Back to Homepage</a>
	</div>

	<div class="menu">
		<table class="breakfast" border="4" style="float: left; margin-left: 40px">
			<tr>
				<th colspan="2">BREAKFAST</th>
			</tr>
			<tr>
				<td>Andazi(deep-fried dough)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Mahamri(Swahili donuts)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Vibibi (Rice Coconut pancake)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Chapati</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Tea</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Coffee</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Uji(Porridge)</td>
				<td>Ksh. 25.00</td>
			</tr>
		</table>

		<table class="lunch" border="4" style="float: left">
			<tr>
				<th colspan="2">LUNCH</th>
			</tr>
			<tr>
				<td>Ugali(cornmeal)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Samaki(Fish)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Nyama choma(Grilled meat)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Kachumbari(Tomato and Onion Salsa)</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Pilau</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Githeri(Boiled corn and Beans)</td>
				<td>Ksh. 25.00</td>
			</tr>
		</table>

		<table class="party" border="4" style="float: left">
			<tr>
				<th colspan="2">COCKTAILS & PARTY</th>
			</tr>
			<tr>
				<td>Fried Pecan Okra</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Honey Mustard Chicken</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Chorizo & Apple sausages</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Broiled Butterflied Chicken</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Cheese Pasta Bake</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Easy Whiskey Sour</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Apple Martini Cocktail</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Long Island Iced Tea</td>
				<td>Ksh. 25.00</td>
			</tr>
			<tr>
				<td>Pina Colada</td>
				<td>Ksh. 25.00</td>
			</tr>
		</table>
	</div>

</body>
</html>
